In [1]:
import pandas as pd 
import numpy as np 
import os 
import sys

In [2]:
data = pd.read_csv("/home/naradalinux/dev/GCNTFT/data/embeddings_v2/tft_ready_embeddings.csv")
data.head()

,datetime,station_id,0,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,2022-04-01 22:00:00,"Alipur, Delhi",0.659644,0.973403,0.950521,-0.586604,0.864186,-0.126562,0.865469,-0.608155,...,0.360108,0.385222,0.904384,-0.391190,0.533015,-0.898249,0.586380,0.378052,0.627379,0.274174
1,2022-04-01 22:00:00,"Anand Vihar, Delhi",-3.215086,-3.015243,-2.907275,2.514424,-2.527328,2.417742,-2.497834,3.522634,...,-3.202751,-3.098795,-2.450826,2.481499,-3.060099,2.893094,-3.214771,-2.535267,-2.615897,-2.735957
2,2022-04-01 22:00:00,"Ashok Vihar, Delhi",0.471968,1.072655,0.941246,-0.793075,0.848971,-0.229286,0.805162,-0.349822,...,0.077955,0.052606,0.817887,-0.514639,0.391432,-0.598521,0.636632,0.534409,0.933581,0.633323
3,2022-04-01 22:00:00,"Aya Nagar, Delhi",0.107738,0.346633,0.307136,-0.025295,0.318668,0.279289,0.235407,-0.020800,...,-0.119965,-0.091830,0.310883,0.071743,-0.019694,-0.361576,-0.063886,-0.173846,-0.035251,-0.382662
4,2022-04-01 22:00:00,"Bawana, Delhi",-0.371663,-0.227789,-0.070604,0.452557,0.024487,0.717372,0.056529,0.472409,...,-0.642802,-0.324920,0.033141,0.571554,-0.506776,0.060140,-0.649855,-0.492374,-0.605519,-0.975590